@import 'https://fonts.googleapis.com/css?family=Exo+2';

body {
  font-family: 'Exo 2', sans-serif;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainMenuButtons {
  background-color: #9ACD32;

  padding: 1em;
  width: 30%;
  margin: 1em auto;

  font-size: 1.5em;

  &:hover {
    background-color: #82a43a;
  };
}

.center-words {
  text-align: center;
  vertical-align: middle;
}

.app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background: rgb(40, 40, 40);
  
  /* Smoother startup */
  animation: fadein 0.5s;
}